@import '../../sassStyles/variables';
@import '../../sassStyles/global';

#overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-black-2-footerbg;
  overflow-x: hidden;
  z-index: 10000;
  cursor: pointer;
}

#overlay.hide {
  visibility: visible;
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-in-out;
       -o-transition: opacity 0.7s ease-in-out;
          transition: opacity 0.7s ease-in-out;
}

#overlay.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
       -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
}

#overlay a {
  display: block;
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
}

#overlay .closebtn {
  width: 41.7px;
  height: 41.7px;
  position: absolute;
  top: 52.1px;
  right: 66px;
  font-size: 70px;
  font-weight: lighter;
  z-index: 999;
}

.closebtn svg {
  fill: $color-black-5-text;
}

.overlay__content {
  position: relative;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  z-index: 998;
}

.menu__item {
  position: relative;
  width: 62.083vw;
  text-align: left;
  background-color: $color-black-2-footerbg;
  display: grid;
  grid-template-rows: 33.61% auto 33.52%;
  grid-template-columns: 23.74% auto;  
}

.menu__links {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.menu__links a {
  width: 300px;
  font-size: 40px;
  letter-spacing: -0.62px;
  opacity: 0.1;
  padding: 42.5px 0;
  color: #888; //$color-black-5-text;
  font-weight: 900;
}

.menu__item a:hover {
  color: $color-yellow-1-main;
  font-size: 60px;
  letter-spacing: -0.93px;
  padding: 32.5px 0;
}

.menu__contact {
  position: relative;
  width: 37.917%;
  background-color: $color-yellow-1-main;
  display: grid;
  grid-template-rows: 44.44% 120px auto;
  grid-template-columns: 35.99% auto;  
}

.menu__contact--content {
  position: relative;
  text-align: left;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.menu__contact--content p a {
  padding-bottom: 20px;
  font-family: $font-sfthin;
  font-size: 20px;
  color: $color-black-5-text;
  letter-spacing: 0.82px;
}

.menu__contact--content .contact__content--spacing {
  letter-spacing: -0.31px;
}

.menu__contact--content .sci {
  width: 221.9px;
  margin-top: 12px;
}

.sci .menu__sci li {
  padding-right: 48.26px;;
  width: 20px;
  height: 20px;
}

.sci .menu__sci li div img {
  left: -110px;
}


/** 
* Social Media Icons
**/

.sci {
  position: relative;
  display: flex;
  flex-direction: row;
}

.sci ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.sci ul li {
  padding-right: 44px;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
}

.linkedin svg path {
  fill: $color-yellow-4-contactdark;
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
}

.linkedin:hover svg path {
  fill: $color-yellow-1-main;
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
}

.bird svg path, 
.fish svg, 
.tv svg {
  fill: $color-black-5-text;
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
}

.bird:hover svg path, 
.fish:hover svg, 
.tv:hover svg {
  fill: $color-black-7-socialMedia;
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
}

.sci ul li div img {
  position: relative;
  width: 237px;
  left: -103px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.2s;
       -o-transition: 0.2s;
          transition: 0.2s;
}

.sci ul li div:hover img {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.2s;
       -o-transition: 0.2s;
          transition: 0.2s;
}

@media (max-width: 1670px) {
  .sci ul li {
    padding-right: 30px;
    width: 24px;
    height: 24px;
  }

  .sci ul li div img {
    width: 237px;
    left: -107px;
  }
}